<!DOCTYPE html>
<html>
<head>
	<title>Prueba | Clientes</title>

	  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<meta charset="utf-8">
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script type="text/javascript">
		$(document).ready(function(){
			$('select').formSelect();
			 $('.datepicker').datepicker({
			 	format:'dd/mm/yyyy'
			 });
		});

		$(document).on('submit', '#registro', function(e){
			e.preventDefault();
			console.log($(this).serialize());
		});
	</script>

	  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <nav class="white"></nav>
	<br>
    <div class="container white" style="min-height:  100vh; padding: 20px"> <!-- CONTAINER -->
        <h1>Cliente</h1>
		<div class="row"> <!-- ROW -->	
     		
			  <form  [formGroup]="fgValidador" (ngSubmit)="GuardarMascota()"method="post" id="registro">
				<div class="input-field col s6">
					<input formControlName="nombre" id="icon_prefix" type="text" class="validate" required>
					<label for="icon_prefix">n</label>
				</div>
				
                    <div class="input-field col s6">
                        <input formControlName="especie" id="icon_prefix" type="text" class="validate" required>
                        <label for="icon_prefix">especie</label>
                    </div>
                    <div class="input-field col l4 m4">
                        <input formControlName="raza" id="icon_telephone" type="text" class="validate" required>
                        <label for="icon_telephone">Raza</label>
                    </div>
				    <div class="input-field col l4 col-m4">
					    <input formControlName="edad" type="text" name="edad" id="edad" required>
					    <label for="fecha_ingreso">Edad</label>
				    </div>
					<div class="input-field col l4 col-m4">
					    <input formControlName="peso" type="text" name="peso" id="peso" required>
					    <label for="fecha_ingreso">Peso</label>
				    </div>
					<div class="input-field col l6 col-m6">
					    <input formControlName="tamano" type="text" name="tamaño" id="tamaño" required>
					    <label for="fecha_ingreso">Tamaño</label>
				    </div>
					<div class="input-field col l6 col-m6">
					    <input formControlName="sexo" type="text" name="sexo" id="sexo" required>
					    <label for="fecha_ingreso">Sexo</label>
				    </div>
					<div class="input-field col l12 col-m12">
						<div class="file-path-wrapper ">
							<label for="foto">Foto</label>
					    	<input formControlName="foto" type="text" name="foto" id="foto">	
				    	</div>
					</div>
					<br><br>
					<div class="input-field col l6 col-m6">
					    <input formControlName="color" type="text" name="color" id="color" required>
					    <label for="fecha_ingreso">color</label>
				    </div>
					<!--<div class="input-field col l6 col-m6">
					    <input formControlName="detalle" type="text" name="detalle" id="detalle" required>
					    <label for="fecha_ingreso">detalle</label>
				    </div>
					<div class="input-field col l6 col-m6">
					    <input formControlName="" type="text" name="estado" id="estado" required>
					    <label for="fecha_ingreso">Estado</label>
				    </div>

                    <div class="input-field col s6">
                        <select formControlName="nombre">
                          <option value="" name="tipo de plan">Tipo de Plan</option>
                          <option value="1">Option 1</option>
                          <option value="2">Option 2</option>
                          <option value="3">Option 3</option>
                        </select>
                        <label>selecciona tu plan</label>
                      </div>-->
         
				   
                    <div class="clearfix"></div>
				<div class="input-field col l12 m12">
				<button type="submit" class="btn waves-effect">
					<i class="material-icons right">check</i>
					<input type="hidden" name="num" value="50"> 
                    <input class="botb" type="submit" value="">Agregar
				</button>
                <!--<button type="submit" class="btn waves-effect">
					<i class="material-icons right">edit</i>
					<input type="hidden" name="num" value="50"> 
                    <input class="botb" type="submit" value=""><a href="editar-mascota.component.html" style="text-decoration: none; color: white">Editar
				</button>-->
               
			</div>
                </form>    
             </div>
      </div>
</body>
</html>
