<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Usuario</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

</head>
<body>


   
    
    

<script
src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js">
</script>
<script>
  

  const respuesta = document.getElementById("respuesta");
</script>

<button class="btn waves-effect green" routerLink="/administracion/crear-usuario">Crear Usuario<i class="material-icons right">done_all</i></button>
<br>
<br>
<button class="btn waves-effect grey" (click)="ObtenerAdministradores()">Administradores</button>
<button class="btn waves-effect grey" (click)="ObtenerAsesores()">Asesores</button>
<button class="btn waves-effect grey" (click)="ObtenerClientes()">Clientes</button>
<button class="btn waves-effect grey" (click)="ObtenerUsuarios()">Todos</button>
<table class="table responsive">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Documento</th>
            <th>Rol</th>
            <th>Celular</th>
            <th>Correo</th>
            <th>Direccion</th>
           
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of listadoUsuario">
            <td>
                {{u.Nombre}}
            </td>
            <td>
                {{u.Apellido}}
            </td>
            <td>
                {{u.Documento}}
            </td>
            <td>
                {{u.Rol}}
            </td>
            <td>
                {{u.Celular}}
            </td>
            <td>
                {{u.Correo}}
            </td>
            <td>{{u.Direccion}}

            </td>
            
            
          
            <td>
                <button class="btn waves-effect green"  routerLink="/administracion/editar-usuario/{{u.id}}"> Editar Usuario <i class="material-icons right">edit</i>  </button>
            </td>
           
            <td>
                <button class="btn waves-effect red" routerLink="/administracion/eliminar-usuario/{{u.id}}" >Borrar Usuario <i class="material-icons right">delete_forever</i> </button>
            </td>
        </tr>
    </tbody>
</table>


</body>


</html>



