

<button class="btn waves-effect green" routerLink="/administracion/crear-producto">Crear Producto<i class="material-icons right">done_all</i></button>
<table class="table responsive">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>detalle</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of listadoRegistros">
            <td>
                {{p.Nombre}}
            </td>
            <td>
                {{p.Precio}}
            </td>
            <td>
                {{p.Detalle}}
            </td>
      

            <td>
                <button class="btn waves-effect green" routerLink="/administracion/editar-producto/{{p.Id}}">Editar Producto <i class="material-icons right">edit</i> </button>
            </td>
           
            <td>
                <button class="btn waves-effect red" routerLink="/administracion/eliminar-producto/{{p.Id}}">Borrar Producto<i class="material-icons right">delete_forever</i></button>
            </td>
        </tr>
    </tbody>
</table>
