<!--Presentacion-->
<div class="header-content py-3">
    <div class="row">
      <div class="col-md text-center m-3 header-head">
        <h2>MASCOTA FELIZ</h2>
        <h3>GLOBAL DEVELOPMENT</h3>
        <img src="../assets/img/presentacion.png" class="card-img-top img-reaccion" alt="...">
      </div>
    </div>
  </div>
  <!--Nosotros-->
  <div class="row px-5 py-3">
    <div class="col-12 col-md-6 header-left">
      <div class="card w-75 card-border card-reaccion d-flex justify-content-center">
        <a href="">
          <img src="../assets/img/card-01.jpg" class="card-img-top img-reaccion" alt="...">
        </a>
        <div class="card-body text-center">
          <h5 class="card-title text-shadow">Mision</h5>
          <p class="card-text">Nuestra Mision es apoyar, fortalecer y construir una relación de respeto mutuo en el vínculo afectivo humano-animal, ofreciendo en un mismo lugar todo lo que necesitas para tu peludito y servicios integrales especializados, contamos con un gran equipo de trabajo ético y altamente calificado para suplir las necesidades de tu amigo fiel.</p>
          <p>Siempre basados en nuestros valores corporativos con vocación al servicio, y en nuestra filosofía de brindar salud y bienestar que le permita a tu mascota disfrutar de una excelente calidad de vida.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 header-right">
      <div class="card w-75 card-border card-reaccion d-flex justify-content-center">
        <a href="">
          <img src="../assets/img/card-02.jpeg" class="card-img-top img-reaccion" alt="...">
        </a>
        <div class="card-body text-center">
          <h5 class="card-title text-shadow">Vision</h5>
          <p class="card-text">En el futuro nos proyectamos a seguir siendo la EPS Veterinaria preferida por ustedes, nuestros clientes, evolucionando día a día con los mejores equipos, materiales y productos que sigan garantizando la salud y el bienestar de nuestros pacientes.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Planes -->
  <div class="row px-5 py-3">
    <h1 style="text-align:center;">NUESTROS PLANES</h1>
    <div class="col-12 col-md-4 header-left">
      <div class="card w-75 card-border card-reaccion d-flex justify-content-center">
        <a href="">
          <img src="../assets/img/plan-250.jpg" class="card-img-top img-reaccion" alt="...">
        </a>
        <div class="card-body text-center">
          <h5 class="card-title text-shadow">Plan 250</h5>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 header-top">
      <div class="card w-75 card-border card-reaccion d-flex justify-content-center">
        <a href="">
          <img src="../assets/img/plan-500.jpg" class="card-img-top img-reaccion" alt="...">
        </a>
        <div class="card-body text-center">
          <h5 class="card-title text-shadow">Plan 500</h5>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 header-right">
      <div class="card w-75 card-border card-reaccion d-flex justify-content-center">
        <a href="">
          <img src="../assets/img/card-03.jpeg" class="card-img-top img-reaccion" alt="...">
        </a>
        <div class="card-body text-center">
          <h5 class="card-title text-shadow">Plan 2000</h5>
        </div>
      </div>
    </div>
  </div>
  <!-- Formulario Contacto -->
  <section>
    <div id="contacto" class="contacto">
      <h2>FORMULARIO DE CONTACTO:</h2>
      <form class="row g-3 needs-validation" novalidate>
        <div class="col-md-6">
          <label for="nombre" class="form-label">
            <h4>Nombres</h4>
          </label>
          <input class="form-control" maxlength="50" id="nombre" required size="50" type="text"/>
          <div class="invalid-feedback">
            Este Campo es Requerido
          </div>
        </div>
        <div class="col-md-6">
          <label for="apellido" class="form-label">
            <h4>Apellidos</h4>
          </label>
          <input maxlength="50" id="apellido" required size="50" type="text"/>
          <div class="invalid-feedback">
            Este Campo es Requerido
          </div>
        </div>
        <div class="col-md-6">
          <label for="email" class="form-label">
            <h4>Email</h4>
          </label>
          <input id="email" required type="email"/>
          <div class="invalid-feedback">
            Este Campo es Requerido
          </div>
        </div>
        <div class="col-md-6">
          <label for="telefono" class="form-label">
            <h4>Celular o Teléfono</h4>
          </label>
          <input id="telefono" pattern="[0-9]{10}" required type="tel"/>
          <div class="invalid-feedback">
            Este Campo es Requerido
          </div>
        </div>
        <div class="col-md-12">
          <label for="observaciones" class="form-label">
            <h4>Observaciones y/o Comentarios</h4>
          </label>
          <textarea cols="150" id="observaciones" rows="12" required></textarea>
          <div class="invalid-feedback">
            Este Campo es Requerido
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Enviar</button>
        </div>
      </form>
    </div>
  </section>
        



 

       


