


   
        
            
            
            <div class="content">
                <div class="textBox">
                    <h2>Algun texto que poner por aca<br> otro corto <span> Mascota Feliz </span></h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Dolore aliquid eum animi accusantium earum dolor eligendi maxime praesentium
                        suscipit aut nihil aspernatur aliquam incidunt, mollitia cum omnis tempore explicabo ipsam!</p>
                    <a href="#">leer mas</a>
                </div>
                <div class="imgBox">
                    <img src="img/fondo.png" class="pet">

                </div>
            </div>
            <ul class="objeto">
                
                <li><img src="img/cat.png" onclick=imgSlider src="img/cat1.png"></li>
                <li><img src="img/shop.png" onclick=imgSlider scr="img/shop.png"></li>

            </ul>
            <ul class="Social">
                <li><a href="#"> <img src="img/face.png"></a></li>
                <li><a href="#"> <img src="img/insta.png"></a></li>
                <li><a href="#"> <img src="img/use.png"></a></li>

            </ul>
        
        
        <main>
            
                <h2 class="titulo">Nuestros productos</h2>
                <div class="content sobre-nosotros">
                    <img src="img/cat-pet icon.png" alt="" class="imagen-sobre-nostros">
                    <div class="contenido-textos">
                        <h3><span>1</span>Los mejores productos</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Placeat facilis et commodi at impedit magni hic
                            veritatis ad totam, odit error harum eius quo eaque sint aspernatur, mollitia itaque
                            reiciendis!</p>

                        <h3><span>2</span>Los mejores productos</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Placeat facilis et commodi at impedit magni hic
                            veritatis ad totam, odit error harum eius quo eaque sint aspernatur, mollitia itaque
                            reiciendis!</p>
                    </div>
                </div>
            
                <div class="contenedor">
                    <h2 class="titulo">Portafolio</h2>
                    <div class="galeria-port">
                        <div class="imagen-port">
                            <img src="img/perritoW.jpg" alt="">
                            <div class="hover-galeria" alt="">
                                <img src="img">
                                <p>Pet Shop</p>
                            </div>
                        </div>
                        <div class="imagen-port">
                            <img src="img/cacatua.jpg" alt="">
                            <div class="hover-galeria" alt="">
                                <img src="img/">
                                <p>Pet Shop</p>
                            </div>
                        </div>
                        <div class="imagen-port">
                            <img src="img/twins.jpg" alt="">
                            <div class="hover-galeria" alt="">
                                <img src="img">
                                <p>Pet Shop</p>
                            </div>
                        </div>
                        <div class="imagen-port">
                            <img src="img/cat-1.jpg" alt="">
                            <div class="hover-galeria" alt="">
                                <img src="img">
                                <p>Pet Shop</p>
                            </div>
                        </div>
                        <div class="imagen-port">
                            <img src="img/pez1.jpg" alt="">
                            <div class="hover-galeria" alt="">
                                <img src="img">
                                <p>Pet Shop</p>
                            </div>
                        </div>
                        <div class="imagen-port">
                            <img src="img/pig-pet.jpg" alt="">
                            <div class="hover-galeria" alt="">
                                <img src="img">
                                <p>Pet Shop</p>
                            </div>
                        </div>
                        <div class="imagen-port">
                            <img src="img/cat-pet.jpg" alt="">
                            <div class="hover-galeria" alt="">
                                <img src="img">
                                <p>Pet Shop</p>
                            </div>
                        </div>
                        <div class="imagen-port">
                            <img src="img/cat-es.jpg" alt="">
                            <div class="hover-galeria" alt="">
                                <img src="img">
                                <p>Pet Shop</p>
                            </div>
                        </div>

                    </div>

                </div>
            
            <div class="clientes-contenedor">
                <h2 class="titulo"> ¿Quieres conocer sobre nuestros planes?</h2>
                <div class="cards">
                    <div class="card">
                        <img src="img/cat-es icon.png" alt="">
                        <div class="contenido-texto-card">
                            <h4>Name</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, iste.</p>
                        </div>
                    </div>
                    <div class="cards">
                        <div class="card">
                            <img src="img/pig-pet icon.png" alt="">
                            <div class="contenido-texto-card">
                                <h4>Name</h4>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, iste.</p>
                            </div>

                        </div>

                    </div>
                    
                        <div class="contenedor">
                            <h2 class="titulo">Nuestros Servicios</h2>
                            <div class="servicio-cont">
                                <div class="servicio-ind">
                                    <img src="img/fondo.png" alt="">
                                    <h3>Name</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, ratione.</p>
                                </div>
                                <div class="servicio-cont">
                                    <div class="servicio-ind">
                                        <img src="img/fondo.png" alt="">
                                        <h3>Name</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, ratione.
                                        </p>
                                    </div>
                                </div>

                            </div>
                        

                    
        



 

       


